<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">病人信息</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-hover">
					<tr>
						<th>姓名</th>
						<td>张三</td>
					</tr>
					<tr>
						<th>性别</th>
						<td>男</td>
					</tr>
					<tr>
						<th>年龄</th>
						<td>43</td>
					</tr>
					<tr>
						<th>ID</th>
						<td>123546</td>
					</tr>
					<tr>
						<th>检查日期</th>
						<td>17/07/25</td>
					</tr>
					<tr>
						<th width="90px">症状</th>
						<td width="190px">骨折</td>
					</tr>
				</table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>

